Source: zmailer-ssl
Section: mail
Maintainer: Daniel Kiper <dkiper@netspace.com.pl>
Build-Depends: binutils, cpp, debhelper, ed, libdb3-dev, libgdbmg1-dev, libpam0g-dev, libperl-dev, libspf2-dev, libsrs2-dev, libssl-dev, libwrap0-dev, locales
Standards-Version: 3.2.1
Priority: extra

Package: zmailer-ssl
Architecture: any
Depends: ${shlibs:Depends}, netbase
Provides: mail-transport-agent
Suggests: mail-reader, metamail
Conflicts: mail-transport-agent
Description: Mailer for Extreme Performance Demands
 This is a package that implements an internet Message Transfer Agent
 called ZMailer.  It is intended for gateways or mail servers or other
 large site environments that have extreme demands on the abilities of
 the mailer.  It was motivated by the problems of the Sendmail design
 in such situations. ZMailer is one of the mailers able to deal with
 huge quantities of mail and is more efficient any other mailer, qmail
 included, mostly due to its excellent queueing algorithms.
 .
 This package uses OpenSSL to enable encryption over the SMTP channel. For
 a zmailer package without this feature, go to the main archive.
 .
 Most users don't need this package -- for most users, sendmail or exim or
 smail will suffice.
